@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f0f2f5;
}

::-webkit-scrollbar {
    width: 0;
}

button {
    cursor: pointer;
}

input:focus, textarea:focus {
    outline: none;
}

textarea {
    resize: none;
    height: auto;
    width: 100%;
    max-height: 500px;
    padding: 0 20px;
    margin: 15px 0;
}