@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f0f2f5;
}

::-webkit-scrollbar {
    width: 0;
}

input:focus, textarea:focus {
    outline: none;
}
